@import "./variable.scss";

//------MAİN PAGE--------///
* {
  @include mar-pad(0, 0);
  font-family: $main-font;
  box-sizing: border-box;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.ml-3 {
  margin-left: 2rem;
}
.ml-1 {
  margin-left: 1rem;
}
.a-custom {
  color: $main-color;
}
.mh-custom {
  font-size: 1.9rem;
  font-weight: 700;
}
.btn-custom {
  background-color: $main-color;
  border-radius: 0.3rem;
  color: white;
  padding: 0.7rem 1rem;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

body {
  height: 100% !important;
  width: 100vw;
  .header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100vw;
    height: 5vw;
    background-color: white;
    @include display(flex, center, space-between);
    flex-direction: row;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
    &__logo {
      margin-left: 1.6rem;
      width: 6%;
      cursor: pointer;
      img {
        width: 95%;
        height: 45px !important;
      }
    }
    &__categories {
      @include display(flex, center, center);
      ul {
        @include display(flex, center, space-evenly);
        flex-direction: row;
        list-style: none;
        margin: 0;
        li {
          position: relative;
          padding: 0.5rem 0.7rem;
          font-size: 14px;
          border-radius: 0.3rem;
          cursor: pointer;
          a {
            text-decoration: none;
            color: black;
            @include display(flex, center, center);
            img {
              margin: 4px 0 0 4px;
            }
          }
          &:hover {
            background-color: #f5f5f5;
          }
        }
      }
    }
    &__searching-bar {
      position: relative;
      width: 27%;
      i {
        position: absolute;
        left: 15px;
        top: 25%;
        font-size: 20px;
      }
      input {
        width: 100%;
        padding: 0.6rem;
        padding-left: 40px;
        outline: none;
        border: 1px solid #d3d3d3;
        border-radius: 0.3rem;
        font-size: 0.8rem;
        &:focus {
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
      }
    }

    &__login-choices {
      margin-right: 2rem;
      .button-login {
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 0.3rem;
        font-weight: 500;
        cursor: pointer;
      }
      .first {
        background-color: #f5f5f5;
        color: black;
        margin-right: 1rem;
        transition: 0.2s ease-out;
        &:hover {
          background-color: #f0f0f0;
        }
      }
      &--help {
        width: 40px;
        height: 40px;
        border: none;
        margin-right: 0.5rem;
        background-color: white;
        border-radius: 0.3rem;
        cursor: pointer;
        &:hover {
          background-color: #f5f5f5;
        }
      }
      &--sign-up {
        color: white;
        background-color: $main-color;
        &:hover {
          opacity: 0.9;
        }
      }
      &--sign-in {
        background-color: #f5f5f5;
        margin-right: 0.5rem;
        transition: 0.2s ease-out;
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
  main {
    width: 100%;
    .hero {
      @include display(flex, center, center);
      flex-direction: column;
      margin-top: 3rem;
      &__top-text {
        width: 100%;
        margin-top: 4vw;
        @include display(flex, center, center);
        flex-direction: column;
        &--question {
          font-size: 2.7rem;
          font-weight: bold;
        }
        &--text {
          text-align: center;
          width: 60%;
          font-size: 1.4rem;
          color: $light-text;
        }
        &--video {
          width: 80%;
          img {
            width: 100%;
          }
        }
      }
      &__memberships {
        @include display(flex, center, center);
        flex-direction: column;
        &-container {
          @include display(flex, center, center);
          flex-direction: row;
          &--card {
            margin: 2rem;
            width: 20vw;
            height: 14vw;
            @include display(flex, center, space-between);
            flex-direction: column;
            text-align: center;
            .card {
              &--header {
                font-size: 1.3rem;
                font-weight: 600;
                i {
                  margin-right: 0.7rem;
                  color: gold;
                }
              }
              &--content {
                font-size: 0.85rem;
                font-weight: 300;
                line-height: 1.5em;
              }
              &--button {
                width: 100%;
                button {
                  width: 100%;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }
        &-description {
          @include display(flex, center, center);
          flex-direction: column;
          p {
            font-size: 0.85rem;
            font-weight: 300;
          }
          img {
            width: 90%;
          }
        }
      }
    }
    .design {
      @include display(flex, center, center);
      flex-direction: column;
      &-item {
        @include display(flex, center, space-between);
        flex-direction: row;
        width: 90%;
        &__picture {
          width: 50%;
          img {
            width: 100% !important;
          }
        }
        &__content {
          width: 43%;
          &--content {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5em;
          }
        }
      }
    }
    .templates {
      @include display(flex, center, center);
      flex-direction: column;
      margin-bottom: 15vh;
      &__header {
      }
      &__subheader {
        line-height: 1.7em;
        color: $light-text;
        padding: 0.5rem;
      }
      &__template-container {
        padding: 2vh 14vh;
        .template-item {
          width: 100% !important;
          margin: 0.5rem;
          border-radius: 0.5rem;
        }
        .small-rectangle {
          height: 100px;
        }
        .square {
          height: auto;
        }
        .long-rectangle {
          height: 250px;
        }
      }
      &__button button {
        background-color: #f5f5f5;
        color: black;
        margin-right: 1rem;
        transition: 0.2s ease-out;
        margin-top: 5vh;
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
    .team {
      width: 100%;
      @include display(flex, center, center);
      flex-direction: column;
      &__top-text {
        text-align: center;
        width: 44%;
        p {
          line-height: 1.7em;
          color: $light-text;
          padding: 0.5rem;
        }
      }
      &__content {
        width: 84%;
        @include display(flex, flex-start, center);
        &-text {
          margin-top: 2rem;
          margin-left: 2rem;
          &--item {
            width: 83%;
            font-size: 0.9rem;
            line-height: 1.5em;
            @include display(flex, flex-start, center);
            i,
            span {
              margin-right: 1rem;
              font-size: 1.5rem;
            }
          }
        }
        &-pic {
          width: 70%;
          img {
            width: 100%;
          }
        }
      }
    }
    .slider-part {
      margin-top: 10vw;
      margin-bottom: 7vw;
      @include display(flex, center, center);
      flex-direction: column;
      .slider-header {
        text-align: center;
      }
      .slider {
        width: 98vw;
        height: 25em;
        position: relative;
        padding: 1.5rem;
        overflow: hidden;
        .slide {
          position: absolute;
          width: 100%;
          max-width: 330px !important;
          transition: transform 1s;
          padding: 0.5rem;
          &__picture {
            width: 95%;
            height: 15rem;
            overflow: hidden;
            border-radius: 0.7rem;
            @include display(flex, center, center);
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
              transition: 0.4s;
              &:hover {
                width: 110% !important;
                height: 110%;
              }
            }
          }
          &__header {
            margin-top: 0.5rem;
            font-weight: 600;
            font-size: 12px;
            line-height: 1.4em;
          }
          &__content {
            font-size: 11px;
            line-height: 1.5em;
            color: #615f63;
          }
        }
        &__button-right,
        &__button-left {
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid $light-text;
          background-color: #f5f5f5;

          top: 40%;
          cursor: pointer;
        }
        &__button-left {
          left: 5px;
        }
        &__button-right {
          right: 5px;
        }
      }
    }
  }
  footer {
    border-top: 1px solid rgb(217, 211, 211);
    margin-bottom: 6.5vw !important;
    @include display(flex, center, center);
    flex-direction: column;
    .categories {
      margin-top: 3rem;
      @include display(flex, flex-start, flex-start);
      &__item {
        width: 23vw;
        &--header {
          font-size: 1rem;
          font-weight: 700;
          margin-bottom: 1.5rem;
          margin-top: 1rem;
        }
        &--topics {
          font-size: 14px;
          line-height: 2.3em;
          a {
            text-decoration: none;
            color: black;
            &:hover {
              color: $main-color;
            }
          }
        }
      }
    }
    hr {
      width: 95%;
      border-top: 1px solid rgb(217, 211, 211);
      margin-top: 3rem;
    }
    .policy {
      width: 96%;
      height: 3vw;
      margin: 2rem 1rem 1rem 1rem;
      @include display(flex, center, space-between);
      &__language {
        margin-top: 1rem;
        &--button {
          @include display(flex, center, center);
          padding: 0.5rem 1rem;
          border: 1px solid rgb(217, 211, 211);
          border-radius: 0.3rem;
          font-size: 0.9rem;
          cursor: pointer;
          &:hover {
            border: 1px solid rgb(161, 159, 159);
          }
          span {
            margin-right: 0.5rem;
          }
          img {
            margin-left: 0.5rem;
          }
        }
      }
      &__text {
        font-size: 0.9rem;
        color: $light-text;
        text-align: center;
        a {
          text-decoration: none;
          color: $light-text;
          transition: 0.4s ease-in;
          &:hover {
            color: $main-color;
          }
        }
      }
      &__social-media {
        a {
          margin: 0.3rem;
        }
        i {
          font-size: 1.3rem;
        }
        .fa-facebook {
          color: #4267b2;
        }
        .fa-twitter {
          color: #1da1f2;
        }
        .fa-pinterest {
          color: #e60023;
        }
        .fa-instagram {
          color: linear-gradient(
            to right,
            rgb(187, 143, 143),
            rgb(160, 160, 228)
          ) !important;
        }
      }
    }
  }
  .popup {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    @include display(flex, center, space-around);
    flex-direction: row;
    &-text {
      width: 30%;
      font-size: 0.7rem;
      line-height: 1.5em;
    }
    .first {
      background-color: #f5f5f5;
      color: black;
      margin-right: 1rem;
      transition: 0.2s ease-out;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
/// Dynamic Modal CSS Codes
.modal {
  width: auto;
  height: auto;
  position: absolute;
  z-index: 99999999;
  top: 110%;
  left: -100%;
  @include display(flex, flex-start, center);
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &-item {
    @include display(flex, flex-start, center);
    flex-direction: column;

    padding: 0.5rem;
    &__img {
      width: 170px;
      height: 100px;
      border-radius: 0.5rem;
    }
    &__header {
      font-size: 1rem;
      font-weight: 700;
    }
    &__contents {
      width: 100%;
      @include display(flex, flex-start !important, center !important);
      flex-direction: column !important;
      padding: 0;
      &--item {
        width: 100%;
        padding: 0.3rem !important;
        font-weight: 300;
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}
